<div class="site-index">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        {{ Html.encode(this.title) }}
                    </h3>
                </div>
                <p style=" text-align: center;">
                    <strong>CHECK SOCIAL NETWORK</strong>
                </p>
                {{ facebook | raw }}

            </div>
            <p class="text-center">
                {{ Html.a(Yii.t('app', 'Already registered? Sign in!'), Url.to(portalUrl, true)) |raw }}
            </p>
        </div>
    </div>
</div>

