<div class="site-index">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><?= Html::encode($this.title) ?></h3>
                </div>
                <div class="panel-body">
                    {% set form = active_form_begin({'id': 'registration-confirm',}) | raw %}
                    {{  form.field( model,'login').textInput({'readonly':'true'})| raw}}
                    {{  form.field( model,'name').textInput({'readonly':'true'})| raw}}
                    {{  form.field( model,'email').textInput({'readonly':'true'})| raw}}
                    {{ form.field(model, 'address')| raw }}

                    {{ form.field(model, 'password').passwordInput()| raw }}
                    {{ form.field(model, 'repassword').passwordInput()| raw }}

                    {{ Html.submitButton(Yii.t('app', 'Sign up'),{'class': 'btn btn-success btn-block'}) | raw }}

                    {{ active_form_end()| raw }}

                </div>

            </div>
        </div>
    </div>
</div>

